
@model IEnumerable<ContactPosts>

@{ ViewData["Title"] = "Index"; }






<div class="main_content_iner ">
    <div class="container-fluid p-0">
        <div class="row justify-content-center">
       
            <div class="col-md-3">
                <div class="email-sidebar white_box">
                    <ul class="text-left mt-2">
                        <li><a asp-action="index"><i class="ti-user"></i> <span> <span>All</span>  <span class="round_badge">@ViewBag.query</span> </span> </a></li>
                        <li><a asp-route-typeId="1"><i class="ti-crown"></i> <span> <span>
    No answer
</span>  <span class="round_badge">@ViewBag.Count</span> </span> </a></li>
                        <li><a asp-route-typeId="2"><i class="ti-announcement"></i> <span> <span>Answered</span>  <span class="round_badge">@ViewBag.Count1</span> </span> </a></li>


                    </ul>
                </div>
            </div>
            <div class="col-md-9">
                <div class="white_box QA_section mb_30">
                   

                    <div class="QA_table ">
                        <!-- table-responsive -->
                        <table class="table lms_table_active">
                            <thead>
                                <tr>
                                    <th scope="col">
                                        <label class="primary_checkbox d-flex mr-12 ">
                                          
                                        </label>
                                    </th>
                                    <th scope="col"></th>
                                    <th scope="col">Name</th>
                                    <th scope="col">Status</th>
                                    <th scope="col">Details</th>
                                    <th scope="col">Date</th>
                                </tr>
                            </thead>
                            <tbody>

                                @foreach (var item in Model)
                                {
                                    var pedding = item.AnswerDate == null;
                    <tr @(pedding ? "class=bold" : "")
                        @(pedding ? "onclick=openMesage(this)" : "")
                        data-id="@item.Id">

                        <td scope="row">
                            <label class="primary_checkbox d-flex mr-12 ">
                               
                            </label>
                        </td>
                        <td> </td>
                        <td>
                            <div class="media align-items-center">
                                <img class="circle-rounded mr-3"
                                     letters="@item.Name"
                                     width="30"
                                     height="30">
                                <div class="media-body">
                                    <p>@item.Name</p>
                                </div>
                            </div>
                        </td>
                        <td>
                            <p> @(pedding? "Cavab Gozdeyir": "Cavablanib")</p>
                        </td>
                        <td>

                            <p class="nowrap">@item.Answer </p>
                        </td>
                        <td>
                            @item.CreatDate.ToString("dd MMM , yyyy,HH:mm")
                        </td>
                    </tr>}

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>




@section addcss{

    <style>
        .white_box {
            padding: 8px !important;
            background-color: #FFFFFF;
            -webkit-border-radius: 20px;
            -moz-border-radius: 20px;
            border-radius: 20px;
        }

        tr.bold > td > p {
            font-weight: bold !important;
        }

        tr.bold > td {
            font-weight: bold !important;
        }
    </style>
}

@section addjs{

    <script src="~/libs/img-letter/Img-letter.js"></script>

    <script>

        function openMesage(el) {


            let id = $(el).data('id');

            window.location.href = `@Url.Action("Details")/${id}`;




        }
        // activ clas s ucun
        $(document).ready(function () {

            $(`a[href="${window.location.pathname + window.location.search}"]`).closest('li').addClass('active');

        });

    </script>

}
