@model IndexViewModels
@{
    ViewData["Title"] = "CatalogDetails";
}

<section style="padding-top:61px">
    <div class="navigation" style="margin-top: 80px;display: flex;align-items: flex-start;">
        <ul>
            <li>Home</li>
            <li>
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                     class="bi bi-arrow-right-short" viewBox="0 0 16 16">
                    <path fill-rule="evenodd"
                          d="M4 8a.5.5 0 0 1 .5-.5h5.793L8.146 5.354a.5.5 0 1 1 .708-.708l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L10.293 8.5H4.5A.5.5 0 0 1 4 8z" />
                </svg>
            </li>
            <li>Details</li>
        </ul>
    </div>
</section>

<section>
    @foreach (var item in Model.Products)
    {
        <div class="contianer details">
            <div class="row">
                <div class="border">
                    <div style="display: flex;" class="topdetail">
                        <div class="col detailsleft">
                            <h1 style="font-family:cursive">@item.Name</h1>
                            <p style="font-family:cursive">
                                @item.Desc
                            </p>
                            <span style="font-family:cursive">$ @item.Value USD</span>
                            <div class="number">
                                
                                <button>
                                    <a style="color:white;font-family:cursive;" href="javascript:addToCard(@item.Id)">
                                        Add To Cart
                                    </a>
                                </button>



                            </div>


                        </div>
                        <div class="col ">
                            <img style="width: 600px;padding: 27px;" src="~/uploads/images/@item.ImgPath"
                                 alt="">
                        </div>
                    </div>

                    <div class="container category producdetails">
                        <div class="row dtl">
                            <div style="    margin-left: -29px;" class="col category-head det">
                                <h1 style="  font-family: 'Varela Round', sans-serif;
                            font-size: 17px;
                            line-height: 24px;
                            font-weight: 400;
                            margin-left: 83px;
                          ">
                                    Product Details
                                </h1>
                            </div>

                            <div class="rightarrow" style="text-align: end;display: flex;
                            justify-content: end;
                            align-items: center;" class="col category-head-a">
                                <span style="color: #999;
                            font-size: 13px;
                            line-height: 16px;
                            margin-right: 31px;">
                                    SKU:
                                    @item.Sku
                                </span>
                            </div>
                        </div>
                        <div class="categoryshop colordetail">
                            <div class="shopcolor detailscolor">

                            </div>
                        </div>
                    </div>
                    <div style="display: flex;  justify-content: flex-start;" class="deliveryinfo detailinfo">
                        <div style="margin-left: -43px;">
                            @Html.Raw(item.Body)
                        </div>
                       
                        <div class="inforight detailsright">
                            <div class="container size">
                                <div style="padding: 15px;
                                    margin-right: 29px;" class="row  ">
                                    <div class="col">
                                        Width
                                    </div>
                                    <div class="col">
                                        @item.Width
                                    </div>
                                </div>
                                <div class="clr"></div>
                                <div style="padding: 15px;
                                    margin-right: 29px;" class="row ">
                                    <div class="col">
                                        Height

                                    </div>
                                    <div class="col">
                                        @item.Height
                                    </div>
                                </div>
                                <div class="clr"></div>
                                <div style="padding: 15px;
                                    margin-right: 29px;" class="row ">
                                    <div class="col">
                                        Length

                                    </div>
                                    <div class="col">
                                        @item.Length
                                    </div>
                                </div>
                                <div class="clr"></div>
                                <div style="padding: 15px;
                                    margin-right: 29px;" class="row">
                                    <div class="col">
                                        Weight
                                    </div>
                                    <div class="col">
                                        @item.Weight
                                    </div>
                                </div>

                            </div>

                        </div>
                    </div>
                </div>


            </div>

        </div>
    }



</section>
<section>
    <div style="display: flex;flex-direction: column; justify-content: center;align-items: center;"
         class="instagram">
        <div style="display: flex;flex-direction: column;align-items: center;justify-content: center;" class="insintro">
            <div class="title">
                ElasticThemes
            </div>
            <h2>We're on Instagram!</h2>


        </div>
        <div class="instimage">
            <div class="container">
                <div class="row">
                    @foreach (var item in Model.InstagramPhotos)
                    {

                        <div data-aos="zoom-in" class="col">
                            <a href="https://www.instagram.com/?hl=en">
                                <img src="~/uploads/images/@item.ImgPath"
                                     alt="">
                            </a>
                        </div>
                    }

                </div>
            </div>

        </div>
        <a id="btn" href="">See More Photos</a>
    </div>
</section>

@section addjs{

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>
    <script class="removeable">

        function addToCard(id) {
            let arr = [];

            var storedJson = $.cookie('basket');

            if (storedJson != undefined && typeof storedJson == 'string') {
                arr = JSON.parse(storedJson)
                
            }

            var found = arr.filter(item => {

                return item.productId == id;       //eger eyni id li product varsa sayi artirsin
            })[0];

            if (found == undefined) {
                found = {
                    productId: id,
                    count: 1

                };
                arr.push(found)
            }
            else {
                found.count = found.count + 1;
            }





            var jsonStrinfy = JSON.stringify(arr);



            $.cookie('basket', jsonStrinfy, { expires: 7, path: '/' }); //cocie yaradrq
            showBasketCount();

        }







    </script>


}